<h1> Welcome to the search page </h1>
<div class="col-md-offset-1 col-md-5">
<%= form_tag(action: "search", method: "post") do %>
  <%= label_tag("Search for:") %>
  <%= text_field_tag(:search) %>
  <select name="type_id">
      <%= @types.each do |type| %>
        <option value="<%= type.id %>"><%= type.title %></option>
      <% end %>
    </select>
  <%= submit_tag("Search", class: "btn btn-default") %>
<% end %>

<ul>
    <% @items.each do |item| %>
  <li><%= link_to item.title, item_path(item)  %></li>
  <% end %>
</ul>

</div>
